*{  
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    box-sizing: border-box;
}

.contenido{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: #9427fe;
}

.contenido h1{
    font-size: 70px;
    margin-top: 80px;
}

.contenido p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9427fe;
    background: transparent; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

button a{
    color: #ff83ff;
    text-decoration: none;
}

span{
    
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "Productos1"
    "productos2"
    "Footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 100px;
    grid-row-gap: 100px;
    
}

.tortas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja1{
    margin: 50px;

}