.footer{
    display: flex;
  justify-content: center;
  align-items: center;
    
}



#Border {
    border: 1px solid #ff83ff;
}

.pie{
    margin-top: 500px;
    display: flex;
}

.pie_2{
    margin-top: 40px;
    display: flex;
}

.pie_3{
    margin-top: 380px;
    display: flex;
}



.pie__1{
    color: #ff83ff;
    margin-left: 44%;
   
}



.contacto{
    width: 300px;
    height: 180px;
    background-color: #b983ff;
    position: relative;
    left: 640px;
    top: 60px; 
}