*{  
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
    box-sizing: border-box;
}

.fondo{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.fondo_1{ 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background1.jpg);
    background-size: cover;
    background-position: center;
}

.fondo_2{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background2.jpg);
    background-size: cover;
    background-position: center;
}

.fondo_3{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background3.jpg);
    background-size: cover;
    background-position: center;
}

.fondo_4{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/background4.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
     
}

.navbar ul li a{    
    text-decoration: none;
    color: #9427fe;
    text-transform: uppercase;
}

.contenido{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: #9427fe;
}

.contenido h1{
    font-size: 70px;
    margin-top: 80px;
}

.contenido p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #9427fe;
    background: transparent; 
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}

button a{
    color: #ff83ff;
    text-decoration: none;
}

span{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.grilla{
    display: grid;
    grid-template-areas: 
    "Productos1"
    "productos2"
    "Footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: 200px 200px 100px;
    grid-row-gap: 100px;
    
}

.tortas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja1{
    margin: 50px;

}

.footer{
    display: flex;
  justify-content: center;
  align-items: center;
    
}



#Border {
    border: 1px solid #ff83ff;
}

.pie{
    margin-top: 500px;
    display: flex;
}

.pie_2{
    margin-top: 40px;
    display: flex;
}

.pie_3{
    margin-top: 380px;
    display: flex;
}



.pie__1{
    color: #ff83ff;
    margin-left: 44%;
   
}



.contacto{
    width: 300px;
    height: 180px;
    background-color: #b983ff;
    position: relative;
    left: 640px;
    top: 60px; 
}








   
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar{
        width: 90%;
        margin: auto;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .pie__1{
        color: #ff83ff;
        margin-left: 41%;
       
    }

    .contenido h1{
        font-size: 70px;
        margin-top: 0px;
    }

}
 
@media screen and (min-width: 320px) and (max-width: 767px) {
    
    
    .navbar ul li{
        list-style: none;
        display: flex;
        margin: 0 20px;
         
    }

    .contenido h1{
        font-size: 20px;
        margin-top: 0px;
    }

    .pie__1{
        color: #ff83ff;
        margin-left: 29%;
        
    }

    .pie{
        margin-top: 450px;
        display: flex;
    }
}